{% for post in paginator.posts %}
<div class="pickup article-card card-a">
  <a href="{{ post.url }}">
    <div class="zoomin">
      <div class="mp0 hidden">
        <img src="{{ post.image }}" loading="lazy" />
      </div>
      <p class="article-card__tags">
        {% if post.jacategories %}
        {{ post.jacategories }}
        {% else %}
        {{ post.categories }}
        {% endif %}
      </p>
      <p class="article-card__title large">
        {{ post.title }}
      </p>
      <p class="article-card__info">
        {{ post.outline }}
      </p>
    </div>
  </a>
</div>
{% endfor %}
