<div class="article-card col-12">
  {% for post in site.posts %}
  <div class="row">
    <div class="col order-2">
      <a href="{{ post.url }}">
        <div class="zoomin">
          <img src="{{ post.image }}" loading="lazy">
        </div>
      </a>
    </div>
    <div class="col order-1">
      <p class="article-card__tags">
        <a class="inlink" href="{{ site.url }}/{{ post.categories }}.html">{{ post.categories }}</a>
      </p>
      <p class="article-card__title">
        {{ post.title }}
      </p>
    </div>
  </div>
  {% endfor %}
</div>
