<h3 class="related-title">
  {% if page.author == 'hamaguchi' %}{{ site.authors.hamaguchi.display_name }}{%
  elsif page.author == 'hutakami' %}{{ site.authors.hutakami.display_name }}{%
  endif %}の記事
</h3>
<ul class="related-posts row ">
  {% if page.author == 'hamaguchi' %} {% assign author = site.posts | where:
  "author", "hamaguchi" %} {% for post in author %}
  <div class="col-12 col-sm-6 mt-15">
    <li class="relatedPost zoomin">
      <img
        src="{{ post.image }}"
        alt="{{ post.title }}"
        class="relatedPost_img"
      />
      <a href="{{ post.url }}">
        <p class="relatedPost-title">{{ post.title }}</p>
      </a>
    </li>
  </div>
  {% endfor %} {% elsif page.author == 'hutakami' %} {% assign author =
  site.posts | where: "author", "hutakami" %} {% for post in author %}
  <div class="col-12 col-sm-6 mt-15">
    <li class="relatedPost zoomin">
      <img
        src="{{ post.image }}"
        alt="{{ post.title }}"
        class="relatedPost_img"
      />
      <a href="{{ post.url }}">
        <p class="relatedPost-title">{{ post.title }}</p>
      </a>
    </li>
  </div>
  {% endfor %} {% endif %}
</ul>
<hr class="clear" />
