<div class="category_head m-y">
  <h1 class="category_title"><i class="fas fa-pen-nib"></i> 同じ筆者の記事</h1>
</div>
{% if page.author == 'hamaguchi' %} {% assign author = site.posts | where:
"author", "hamaguchi" %} {% for post in author %}
<div class="row card-b inpost zoomin">
  <div class="col-4 mp0 hidden">
    <a href="{{ post.url }}">
      <img src="../../../../{{ post.image }}" loading="lazy" />
      <p class="article-card__tags small">{{ post.categories }}</p>
    </a>
  </div>
  <div class="col inpost">
    <a href="{{ post.url }}">
      <p class="inpost_title">
        {{ post.title }}
      </p>
    </a>
  </div>
</div>
{% endfor %} {% elsif page.author == 'hutakami' %} {% assign author = site.posts
| where: "author", "hutakami" %} {% for post in author %}
<div class="row card-b inpost zoomin">
  <div class="col-4 mp0 hidden">
    <a href="{{ post.url }}">
      <img src="../../../../{{ post.image }}" loading="lazy" />
      <p class="article-card__tags small">{{ post.categories }}</p>
    </a>
  </div>
  <div class="col inpost">
    <a href="{{ post.url }}">
      <p class="inpost_title">
        {{ post.title }}
      </p>
    </a>
  </div>
</div>
{% endfor %}{% endif %}
