<footer class="container-fluid product text-md text-normal">
  <div class="row">
    <div class="col-12 col-md-7 row">
      <div class="footer-title mb-5">
      </div>
      <div class="col-12 pl-0 mb-4">
        運営会社
      </div>
      <div class="col-12 pl-0 mb-4">
        サービス規約
      </div>
      <div class="col-12 pl-0 mb-4">
        特定商取引に基づく表記
      </div>
      <div class="col-12 pl-0 mb-4">
        プライバシーポリシー
      </div>
      <div class="col-12 pl-0 mb-4">
        お問い合わせ
      </div>
    </div>
    <div class="col-12 col-md-5 face">
      <div style="margin-top: 130px;" class="text-center">Facebook等あれば貼る</div>
    </div>
    <div class="col-12 center p-3 mb-5">
      ZUMEN,Inc. © 2020
    </div>
  </div>
</footer>
