<footer class="container-fluid product">
  <div class="row">
    <div class="col-12 col-md-7 row">
      <div class="col-12">
        運営会社
      </div>
      <div class="col-12">
        サービス規約
      </div>
      <div class="col-12">
        特定商取引に基づく表記
      </div>
      <div class="col-12">
        プライバシーポリシー
      </div>
      <div class="col-12">
        お問い合わせ
      </div>
    </div>
    <div class="col-12 col-md-5 face">
      Facebook等あれば貼る
    </div>
    <div class="col-12 center">
      ZUMEN,Inc. © 2019
    </div>
  </div>
</footer>
