<footer class="container-fluid product text-normal">
  <div class="row">
    <div class="col-12">
      <div class="footer-title mb-5">
        <a href="/smartmokei.html"><img src="assets/img/product/smartmokei/title.png" alt="スマート模型"></a>
      </div>
      <div class="col-12 pl-0 mb-4">
        <ul class="footer-nav">
          <li class="mb-4"><a href="" target="_blank">運営会社</a></li>
          <li class="mb-4"><a href="" target="_blank">サービス規約</a></li>
          <li class="mb-4"><a href="" target="_blank">特定商取引に基づく表記</a></li>
          <li class="mb-4"><a href="" target="_blank">プライバシーポリシー</a></li>
          <li class="mb-4"><a href="" target="_blank">お問い合わせ</a></li>
      </div>
      <div class="col-12 center p-3 mb-5 copyright">
        ZUMEN,Inc. © 2020
      </div>
    </div>
  </div>
</footer>
