<div class="author_prf-box">
  {% if page.author == 'hamaguchi' %}
  <img
    src="{{ site.url }}/{{ site.authors.hamaguchi.icon }}"
    class="prf-icon"
  />
  {% elsif page.author == 'hutakami' %}
  <img src="{{ site.url }}/{{ site.authors.hutakami.icon }}" class="prf-icon" />
  {% endif %}
  <div class="prf-name">
    {% if page.author == 'hamaguchi' %}
    <p>{{ site.authors.hamaguchi.display_name }}</p>
    <p>
      <span>{{ site.authors.hamaguchi.position }}</span>
    </p>
    {% elsif page.author == 'hutakami' %}
    <p>{{ site.authors.hutakami.display_name }}</p>
    <p>
      <span>{{ site.authors.hutakami.position }}</span>
    </p>
    {% endif %}
  </div>
  <div class="prf-text">
    {% if page.author == 'hamaguchi' %}

    <p>{{ site.authors.hamaguchi.bio }}</p>
    {% elsif page.author == 'hutakami' %}

    <p>{{ site.authors.hutakami.bio }}</p>
    {% endif %}
  </div>
  <div class="prf-sns">
    {% if page.author == 'hamaguchi' %}
    <a href="{{ site.authors.hamaguchi.twitter }}" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
    <a href="{{ site.authors.hamaguchi.facebook }}" target="_blank"<i class="fab fa-fw fa-facebook-f"></i></a>
    {% elsif page.author == 'hutakami' %}
    <!-- <a href="{{ site.authors.hutakami.twitter }}" target="_blank"> -->
      <i class="fab fa-fw fa-twitter grayout"></i>
      <!-- </a> -->
    <!-- <a href="{{ site.authors.hutakami.facebook }}" target="_blank"> -->
      <i class="fab fa-fw fa-facebook-f grayout"></i>
      <!-- </a> -->
    {% endif %}

  </div>
</div>
