html {
  font-size: 62.5%;
  font-family: "ABeeZee", -apple-system, BlinkMacSystemFont, "游ゴシック体",
    YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium",
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3,
    "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro",
    "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック",
    "MS PGothic", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Segoe UI",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  scroll-behavior: smooth;
}

body {
  font-size: 1.6em;
  background: #fcfcfc;
}

.company {
  font-family: -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic,
    "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium",
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3,
    "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro",
    "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック",
    "MS PGothic", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Segoe UI",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

ol,
ul {
  margin-left: 1.5em;
}

.mt-15 {
  margin-top: 1.5rem;
}

p,
ol,
ul {
  font-size: 1.5rem;
  color: #666;
  font-feature-settings: "palt";
  letter-spacing: 0.1rem;
  line-height: 1.75;
  /* text-align: justify; */
}

div.article-card+div.article-card,
.card-b+.card-b {
  border-top: 1px solid #eeeeee;
  padding: 1.5rem 0;
}

.article-card a {
  text-decoration: none;
}

.subcol-left .article-card:last-child,
.maincol .article-card,
.border-none {
  border-bottom: none;
  margin-bottom: 0;
}

.article-card__title {
  font-weight: bold;
  width: 100%;
  display: inline-block;
  font-feature-settings: "palt";
  letter-spacing: -0.1rem;
  margin-top: 1.5rem;
}

.article-card__info {
  margin: 2rem 0;
}

a .article-card__title,
a .article-card__info {
  color: #000;
  transition: 0.6s;
}

a .article-card__title.large {
  font-size: 2rem;
}

a:hover .article-card__title {
  color: #79e2cf;
}

img {
  display: block;
  width: 100%;
  overflow: hidden;
}

.zoomin {
  overflow: hidden;
  margin-bottom: 0;
  position: relative;
}

.zoomin img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.zoomin:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.article-card img {
  margin: 0;
}

.rank-img__thump {
  height: 3em;
}

#top-head__text {
  font-family: "Hiragino Kaku Gothic Pro W3", sans-serif;
  line-height: 2;
  color: #fff;
  margin-top: 0;
  letter-spacing: 0.3rem;
  display: inline-block;
}

div.row>#top-head__text {
  margin: 0 auto;
  margin-top: 130px;
}

#top-head__text>span.bg {
  font-size: 105%;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  display: inline-block;
  color: #666;
  margin: auto 0.2rem;
  background-color: #fff;
}

#top-head__text>span.bd {
  font-size: 105%;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff;
  margin: auto 0.2rem;
  padding: 0 5px 0 5px;
}

.blog-box__mainContent p {
  line-height: 2.5em;
  margin-bottom: 2em;
}

@media (min-width: 992px) {
  #top-head__text {
    font-size: 4rem;
  }
}

@media (max-width: 991.98px) {
  #top-head__text {
    font-size: 4rem;
  }
}

@media (max-width: 767.98px) {
  #top-head__text {
    font-size: 3.5rem;
  }
}

@media (max-width: 575.98px) {
  #top-head__text {
    font-size: 3rem;
  }

  .blog-box__mainContent p {
    line-height: 2.8rem;
    margin-bottom: 2em;
  }
}

#main-visual {
  background: -webkit-linear-gradient(180deg,
      rgba(29, 226, 190, 0.8),
      rgba(255, 174, 33, 0.8));
  background: -moz-linear-gradient(180deg,
      rgba(29, 226, 190, 0.8),
      rgba(255, 174, 33, 0.8));
  background: -ms-linear-gradient(180deg,
      rgba(29, 226, 190, 0.8),
      rgba(255, 174, 33, 0.8));
  background: -o-linear-gradient(180deg,
      rgba(29, 226, 190, 0.8),
      rgba(255, 174, 33, 0.8));
  background: linear-gradient(180deg,
      rgba(29, 226, 190, 0.8),
      rgba(255, 174, 33, 0.8)) fixed,
    url("../img/sample3.jpg");
  background-size: cover;
  background-position: 50% 30%;
  height: 50vmin;
}

.inner {
  width: 980px;
  margin: 0 auto;
}

.inner:after {
  content: "";
  clear: both;
  display: block;
}

/* header */
#top-head {
  font-size: 14px;
  top: -100px;
  position: absolute;
  width: 100%;
  margin: 100px auto 0;
  padding: 1em 0 0;
  line-height: 1;
  z-index: 999;
}

#top-head.sub {
  background-color: #fff;
  padding-bottom: 5px;
}

#top-head.sub+* {
  margin-top: 61px;
}

#top-head a,
#top-head {
  color: #000;
  text-decoration: none;
}

#top-head.sub a,
#top-head.sub {
  color: #000;
  text-decoration: none;
}

#top-head .inner {
  position: relative;
}

#top-head .logo {
  float: left;
  font-size: 36px;
  margin-bottom: 6px;
}

#global-nav ul {
  list-style: none;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
}

#global-nav ul li {
  float: left;
  position: relative;
}

#global-nav ul li a {
  padding: 0 30px;
}

/* Btn Hover */
#global-nav ul li:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  bottom: -6px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

#global-nav ul li:hover:after {
  background: #fff;
  bottom: -5px;
}

#global-nav.sub ul li:hover:after {
  background: #000;
  bottom: -5px;
}

/* Fixed */
#top-head.fixed {
  margin-top: 0;
  top: 0;
  position: fixed;
  padding-top: 14px;
  height: 56px;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
}

#top-head.fixed .logo {
  font-size: 24px;
  color: #333;
}

#top-head.fixed #global-nav ul li a {
  color: #333;
  padding: 0 20px;
}

/* Fixed Btn Hover */
#top-head.fixed #global-nav ul li:after {
  bottom: -5px;
}

#top-head.fixed #global-nav ul li:hover:after {
  background: #000;
  bottom: -5px;
}

/* Toggle Button */
#nav-toggle {
  display: none;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 999;
}

#nav-toggle div {
  position: relative;
}

#nav-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #dadada;
  left: 0;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
  top: 0;
}

#nav-toggle span:nth-child(2) {
  top: 11px;
}

#nav-toggle span:nth-child(3) {
  top: 22px;
}

@media screen and (max-width: 980px) {
  .inner {
    width: 100%;
    padding: 0 20px;
  }

  #global-nav ul li a {
    padding: 0 20px;
  }

  #top-head.fixed #global-nav ul li a {
    padding: 0 15px;
  }
}

@media screen and (max-width: 640px) {
  #main-visual {
    margin-top: 56px;
    height: 50vmin;
  }

  #top-head,
  .inner {
    width: 100%;
    padding: 0;
  }

  #top-head {
    top: 0;
    position: fixed;
    margin-top: 0;
  }

  /* Fixed reset */
  #top-head.fixed {
    padding-top: 0;
    background: transparent;
  }

  #mobile-head {
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 56px;
    z-index: 999;
    position: relative;
  }

  #top-head.fixed .logo,
  #top-head .logo {
    position: absolute;
    left: 13px;
    top: 18px;
    color: #a4e9d6;
    font-size: 26px;
  }

  #top-head .logo a {
    color: #000;
  }

  #global-nav {
    position: absolute;
    top: -500px;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  #global-nav ul {
    list-style: none;
    position: static;
    right: 0;
    bottom: 0;
    font-size: 1.2rem;
  }

  #global-nav ul li {
    float: none;
    position: static;
  }

  #global-nav ul li:after {
    display: none;
  }

  #top-head #global-nav ul li a,
  #top-head.fixed #global-nav ul li a {
    width: 100%;
    display: block;
    color: #333;
    padding: 18px 0;
  }

  #nav-toggle {
    display: block;
  }

  .open #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }

  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }

  .open #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }

  /* #global-nav スライドアニメーション */
  .open #global-nav {
    /* #global-nav top + #mobile-head height */
    -moz-transform: translateY(556px);
    -webkit-transform: translateY(556px);
    transform: translateY(556px);
  }
}

footer.default {
  background: url("../img/sample3.jpg");
  height: 100px;
  background-size: cover;
  background-position: 50%;
  position: relative;
  margin: 0;
}

footer.default::after {
  content: "";
  background-color: rgba(121, 226, 207, 0.95);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

footer.default>* {
  padding: 1rem 0;
  position: relative;
  z-index: 1;
  color: #fff;
}

.center {
  text-align: center;
  margin: 0 auto;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.company {
  padding: 1.5rem 3rem;
}

.company h1 {
  display: inline-block;
  font-size: 2rem;
  margin: 2rem 0 2.5rem 0;
  padding: 1rem 0.5rem 0.5rem 0;
  border-bottom: 4px solid #a4e9d6;
}

.company dl {
  padding: 1em 0;
  margin: 0;
  background-color: #f5f5f5;
}

.nav-horizontal {
  background-color: #fff;
  overflow: hidden;
  padding-top: 3px;
  height: 2.9em;
  width: 100%;
  font-weight: bold;
  box-shadow: 0 8px 3px -3px rgba(0, 0, 0, 0.03),
    0 8px 4px -4px rgba(0, 0, 0, 0.03) inset;
}

.nav-horizontal .mask {
  height: 5em;
  max-width: 1010px;
  margin: 0 auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.nav-horizontal .list {
  display: inline-table;
  margin: 0 auto;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 9px 0;
}

.nav-horizontal .list li,
.active {
  display: table-cell;
  white-space: nowrap;
  min-width: 48px;
}

.nav-horizontal .list a {
  display: block;
  padding: 0 1em;
  text-decoration: none;
  transition: 0.3s;
  color: #666;
  height: 3em;
  line-height: 3;
}

.nav-horizontal .list a:hover,
.active {
  border-bottom: 4px solid #79e2cf;
  background-color: #f5f5f5;
}

.blog-box,
.row.topcol,
.list-box {
  max-width: 1010px;
  margin: 1.5rem auto 0;
  width: 100%;
}

.blog-header {
  margin: 3rem 1.5rem 4rem 1.5rem;
}

.blog-header .cate-tag-date {
  margin: 2rem auto 0.5rem;
}

.blog-header__categories a {
  font-family: "ABeeZee", sans-serif;
  background-color: #79e2cf;
  padding: 0.3rem 0.75rem;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  margin-right: 0.5rem;
  margin-left: 0;
  text-decoration: none;
  transition: 0.2s;
  /* filter: drop-shadow(0px 4px 0 rgba(85, 158, 145, 1)); */
}

.blog-header__categories a:hover {
  color: #000;
}

.blog-header__postdate {
  font-size: 1.3rem;
  letter-spacing: normal;
  color: #777777;
}

.blog-header h1,
.blog-box p:not(a) {
  font-feature-settings: "palt";
  color: #333333;
}

.blog-box__mainContent>* {
  box-sizing: border-box;
  margin: auto 1.5rem;
}

.blog-box__mainContent {
  padding-left: 1.5em;
  margin-bottom: 1em;
}

/* article */

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin: 1em auto 1em 0;
}

.article h1[id],
.article h2[id],
.article h3[id],
.article h4[id],
.article h5[id],
.article h6[id] {
  margin-top: -80px;
  padding-top: 80px;
}




.mokuji {
  background-color: #f8f8f8;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  margin-bottom: 2em;
  width: 95%;
}

h2.mokuji_title {
  font-size: 1.5rem;
  color: #a5a5a5;
  padding-bottom: 1em;
  margin: 0;
}

.mokuji ol li {
  margin-bottom: 1em;
  color: #649ca0;
}

.blog-box__mainContent a {
  transition: 0.2s;
  color: #79e2cf;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid #79e2cf;
}

.mokuji a {
  font-weight: normal;
  text-decoration: none;
  transition: 0.2s;
  color: #649ca0;
  text-decoration: none;
  border-bottom: none;
}

.mokuji a:hover {
  color: #79e2cf;
  border-bottom: 1px solid #79e2cf;
}
.article ul li,
.article ol li {
  color: #333;
  text-align: left;
  line-height: 2.5em;
}

.article ul,
.article ol {
  margin-bottom: 2em;
}


.blog-box__mainContent p a:hover,
.article p a:hover,
.article ul li a:hover {
  color: #fff;
  background-color: #79e2cf;
}

.blog-box__sub p {
  line-height: 1.4em;
  letter-spacing: -0.1rem;
}

.mt-26 {
  margin-top: 2.6rem;
}

.mt-35 {
  margin-top: 3.5rem;
}

.author_prf-box {
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
  margin: 2.5rem auto;
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.08); */
  border: 2px solid rgba(0, 0, 0, 0.08);
}

.author_prf-box p {
  margin: 0;
  padding: 0;
}

.prf-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  vertical-align: middle;
  padding: 0.3rem;
}

.prf-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
}

.prf-name p {
  font-size: 1.3rem;
  line-height: 1.3em;
  padding-top: 1em;
}

.prf-name p span {
  font-size: 1.1rem;
  color: #afafaf;
}

.author_prf-box>.prf-text p {
  font-size: 1.3rem;
  line-height: 1.8em;
  padding-top: 2.5rem;
}

.prf-sns {
  padding-top: 2.5rem;
  text-align: right;
  vertical-align: bottom;
}

.prf-sns i {
  font-size: 2rem;
}

.grayout {
  color: #efefef;
}

.prf-sns a {
  display: inline-block;
  border-bottom: 0;
  margin-left: 0.2em;
  color: #333333;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.prf-sns a:hover {
  color: #79e2cf;
}

/*
.author-share {
  background-color: #fff;
  border-radius: 5px;
  padding: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  margin: 30px auto;
}

.bio {
  text-align: left;
}

.author-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  padding: 0.5rem;
  margin: 0 auto;
}

.author-share .bio p {
  text-align: center;
  margin: 0 auto;
} */

.pager {
  float: left;
  width: 100%;
}

.clear {
  border: none;
  clear: both;
}

.pager div {
  width: 48%;
  float: left;
  height: 5em;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding: 0.7rem 1.2rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  margin-bottom: 3rem;
  overflow: hidden;
}

.pager a {
  font-family: "ABeeZee", sans-serif;
  color: #75d9bd;
  text-decoration: none;
  transition: 0.2s;
  height: 5em;
}

.pager a:hover {
  color: #000;
}

.pager-left {
  margin-left: -1em;
  margin-right: 4%;
}

.pager-left a {
  display: inline-block;
  padding-left: 1.2em;
}

.pager-left i {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.pager-right a {
  display: inline-block;
  padding-right: 1.2em;
}

.pager-right i {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.pagination {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a,
.pagination span {
  color: #79e2cf;
  text-decoration: none;
  font-size: 1.8rem;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 1em 0.2em;
  padding-top: 0.8em;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}

.pagination span {
  color: #000;
  border: none;
}

.tags a {
  background-color: #79e2cf;
  color: #fff;
  font-weight: bold;
  vertical-align: middle;
  height: 2.5rem;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  border-radius: 25px;
  padding: 0.5rem;
  margin: 0.5em 0.3em;
  transition: 0.2s;
  border: 1px solid #79e2cf;
}

.tags a:hover {
  color: #79e2cf;
  background-color: transparent;
}

#breadcrumbs {
  font-size: 1.3rem;
  color: #666;
  padding: 1rem 1rem 1rem 2rem;
  margin: 0 auto;
  line-height: 2.5rem;
}

#breadcrumbs a {
  color: #666;
  text-decoration: none;
  transition: 0.2s;
}

#breadcrumbs a:hover {
  color: #000;
  border-bottom: 1px dotted #79e2cf;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}

.hidden {
  overflow: hidden;
}

.card-b:first-child {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card-b .article-card__title {
  margin-top: 0.5rem;
  font-weight: normal;
}

.mp0 {
  margin: 0;
  padding: 0;
}

.category_head {
  margin: 0;
  padding: 1.2rem 1rem;
  background-color: #f0f0f0;
}

.category_title {
  font-size: 1rem;
  color: #777777;
  padding: 0 0.3rem;
  margin: 0;
}

.category_title i {
  padding-right: 0.4rem;
}

.m-y {
  margin: auto 1.5rem;
}

p.inpost_title {
  text-decoration: none;
  font-weight: bold;

  line-height: 2.5rem;
  margin-bottom: 0;
}

.card-b.inpost {
  margin: 1.5rem;
}

/* label */

.article-card__tags {
  position: absolute;
  display: inline-block;
  padding: 0.2rem 1.5rem;
  top: 1rem;
  left: 0.9rem;
  z-index: 500;
  background-color: #79e2cf;
  border-radius: 25px;
  /* filter: drop-shadow(0px 4px 0 rgba(85, 158, 145, 1)); */
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
}

.article-card__tags.small {
  font-size: 60%;
  padding: 0 0.75rem;
  top: 0.5rem;
  left: 0.3rem;
  color: #fff;
}


blockquote {
  position: relative;
  padding: 30px 15px 8px 15px;
  box-sizing: border-box;
  font-style: italic;
  background: #efefef;
  color: #555;
  margin-bottom: 2em;
}

blockquote:before {
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 15px;
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  color: #cfcfcf;
  font-size: 28px;
  line-height: 1;
  font-weight: 900;
}

blockquote p {
  padding: 0;
  margin-top: 3rem;
  line-height: 1.5;
}

blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}
