body.product>nav {
  height: 50px;
  background-color: #F4F4F4 !important;
}

body.product>nav>a:hover {
  text-decoration: none;
}

body.product>nav>button.burger {
  width: 56px;
  height: 37px;
  background: url('../img/product/smartmokei/burger.svg') no-repeat;
}

.product-wrapper {
  overflow: hidden;
}

.alert-box {
  position: fixed;
  top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.alert-box>.alert {
  display: flex;
  align-items: center;
  height: 50px;
}

.alert>.close {
  top: 10px !important;
}

.file-info-wrapper {
  display: none;
}

.file-info-wrapper>div {
  display: inline-block;
  padding: 5px 1em !important;
  margin: .5em 0;
  font-size: 13px;
  border-radius: 50px;
  background-color: #F4F4F4;
}

.file-info-element {
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.clear-button {
  margin-left: 8px;
  transform: rotate(-45deg) translateX(-0.8px) translateY(-0.8px);
}

.error-message {
  color: red;
  font-size: 13px;
  line-height: 13px;
}

.close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 15px;
  top: 15px;
  background: url('../img/product/smartmokei/close.svg') no-repeat;
  background-size: cover;
}

button:focus {
  outline: 0;
}

.face {
  width: 300px;
  height: 300px;
  margin: auto;
}

.footer-title {
  display: block;
  width: 200px;
  height: 42px;
}

.footer-nav {
  margin-top: 2em;
  list-style: none;
  margin-left: 0;
}

.footer-nav li>a {
  color: #fff;
}

.footer-nav li>a:hover {
  text-decoration: none;
  color: #FAEA5B;
}

footer.product {
  display: flex;
  flex-direction: column;
  padding: 50px 10% 0;
  background: linear-gradient(0deg, #4A4A4A, #4A4A4A),
    url("../img/product/product_footer.png");
  background-blend-mode: multiply, normal;
  background-position: center center;
  background-size: cover;
}

.copyright {
  width: 100%;
}

@media (max-width: 575.98px) {
  footer.product {
    padding: 15px 6% 0;
  }
}

footer.product>* {
  padding: 1rem 0;
  position: relative;
  z-index: 1;
  color: #fff;
}

.upload-form {
  width: 100%;
  height: 100%;
  min-height: 140px;
  border: 1px dashed #939393;
  background: url('../img/product/smartmokei/upload-pc.svg') no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #F4F4F4;
}

.upload-form-input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

@media (max-width: 575.98px) {
  .upload-form {
    background: url('../img/product/smartmokei/upload-sp.svg') no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: #F4F4F4;
  }
}

.text-normal {
  font-weight: 400 !important;
}

.price {
  margin-bottom: 15px;
  white-space: nowrap;
}

.price-text p {
  color: #fff;
}


.arrow-fix {
  margin: auto;
  width: 42px;
}

.arrow-fix-black {
  margin: auto;
  width: 35px;
}

@media (max-width: 767px) {
  .price {
    text-align: center;
  }

  .price-text {
    text-align: center;
  }

  .price-text p {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    text-align: left;
  }
}

@media (max-width: 575.98px) {
  .arrow-fix {
    width: 35px;
  }
}


.expand {
  height: 40px;
  margin-bottom: 10px;
  /* border: 1px solid #AFAFAF; */
  box-sizing: border-box;
  /* box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); */
  border-radius: 5px;
  font-size: 16px;
}

.has-danger {
  border: 1px solid red;
}

.terms {
  height: 250px;
  border: 2px lightgray solid;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  overflow: auto;
}

span.collapse:not(.show) {
  transition-duration: 0;
  display: block !important;
  transform: rotate(-45deg) translateX(-0.8px) translateY(-0.8px);
}

.plus .collapse .multi-collapse .show:after {
  transition-duration: 0 !important;
  transform: initial;
}

body.product {
  font-family: "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", -apple-system, BlinkMacSystemFont, sans-serif;
}

.faq-row {
  width: 100%;
}

.faq-row .row {
  margin-right: 0;
  margin-left: 0;
}

.faq-row .row .col-1 {
  padding-right: 0;
  padding-left: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100%;
}

@media (max-width: 575.98px) {
  .card {
    height: 100%;
  }
}

.card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
}

.card-text {
  padding: 1em;
}

.card-text h3 {
  padding-bottom: .5em;
}

.bg-gray {
  background: #F0F5FA;
}

.bg-blue {
  background: #007EA7;
}

.bg-darkgray {
  background: #E8E8E8;
}

.height-icon {
  max-height: 16px;
}

.height-house {
  max-height: 130px;
}

.height-md {
  max-height: 250px;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 80px 10vw;
}

.inner-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.faq-box {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 0;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .faq-box {
    padding: 40px 0 0;
  }
}

.mini-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 10vw;
}

@media (max-width: 575.98px) {
  .mini-box {
    padding: 10px 0;
  }
}

.text-red {
  color: #A7007E;
}

.text-blue {
  color: #007EA7;
}

.text-white {
  color: #FFFFFF;
}

.text-black {
  color: #000000 !important;
}

button.dummy-button {
  cursor: default !important;
}

hr {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 575.98px) {
  hr {
    width: 96%;
  }
}

hr.hr-bold {
  height: 3px;
  margin: 8px auto;
  background-color: #FFFFFF;
}

hr.hr-bold-blue {
  height: 3px;
  margin: 8px auto;
  background-color: #007EA7;
}

hr.hr-bold-black {
  height: 3px;
  margin: 8px auto;
  background-color: black;
}

.text-xs {
  font-size: 11px;
  line-height: 16px;
  color: #757575;
}

.text-sm {
  font-size: 15px;
  font-weight: normal;
  line-height: 175%;
}

.text-result {
  font-size: 18px;
  font-weight: bold;
  line-height: 150%;
}

.text-desc {
  font-size: 20px;
  line-height: 175%;
}

.text-md {
  font-size: 20px;
  line-height: 175%;
}

.text-lg {
  font-size: 23px;
  line-height: 175%;
}

.text-faq {
  font-size: 25px;
  font-weight: bold;
  line-height: 150%;
  color: #007EA7;
}

#thanksModal>div>div.modal-round {
  border-radius: 10px !important;
}

.text-bg {
  font-size: 35px;
  font-weight: bold;
  line-height: 150%;
}

.text-form {
  font-size: 14px;
  font-weight: bold;
  line-height: 175%;
}

.text-center {
  text-align: center;
}

h3 {
  font-size: 22px;
  line-height: 150%;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  line-height: 150%;
  color: #007EA7;
}

h2.black {
  color: black;
}

.sm-only {
  display: none;
}

.text-sm-center {
  text-align: left;
}

@media (max-width: 575.98px) {
  .sm-only {
    display: block;
  }

  .md-only {
    display: none;
  }

  .box {
    padding: 30px 4px;
  }

  .inner-box {
    padding: 20px 8px;
  }

  .text-sm {
    font-size: 12px;
  }

  .text-md {
    font-size: 16px;
  }

  .text-lg {
    font-size: 18px;
  }

  .text-faq {
    font-size: 20px;
  }

  .text-bg {
    font-size: 30px;
  }

  h3 {
    font-size: 17px;
  }

  h2 {
    font-size: 25px;
  }
}

.head {
  display: flex;
  flex-direction: column;
  padding: 100px 10% 0;
  width: 100%;
  height: 500px;

  background: url('../img/product/smartmokei/head.png'), linear-gradient(90deg, rgba(0, 68, 141, 0.5) 0.31%, rgba(68, 159, 255, 0) 98.91%);
  background-size: cover;
  background-position: center center;
  background-blend-mode: normal, color, color-dodge;
}

@media (max-width: 575.98px) {
  .head {
    padding: 50px 10% 0;
  }
}

.title {
  display: block;
  background: url('../img/product/smartmokei/title2x.png') no-repeat;
  max-width: 300.5px;
  height: 63px;
  width: 100%;
  background-size: 100%;
}

.description {
  margin-top: 60px;
  max-width: 503px;
}

.button-action:hover {
  opacity: 0.8;
}

.button-action:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.btn-use {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  max-width: 376.88px;
  min-width: 300px;
  height: 78px;
  background: #FAEA5B;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-use-align {
  text-decoration: none !important;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  max-width: 376.88px;
  ;
  min-width: 300px;
  height: 78px;

  background: #FAEA5B;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-submit {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  max-width: 201.88px;
  min-width: 153.12px;
  height: 70px;

  background: #FAEA5B;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-white {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;

  position: static;
  width: 276.12px;
  height: 53px;

  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.btn-white-big {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;

  position: static;
  max-width: 374.88px;
  min-width: 301.5px;
  height: 68px;

  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.btn-arrow-sub {
  background: url('../img/product/smartmokei/arrow2-black.svg') no-repeat;
  background-size: contain;
  background-position: center center;
  width: 13.12px;
  height: 15px;
  margin: 20px 0px;
}

.btn-arrow {
  background: url('../img/product/smartmokei/arrow.svg') no-repeat;
  background-size: contain;
  background-position: center center;
  width: 21.88px;
  height: 25px;
  margin: 15px 0px;
}

.btn-arrow-mini {
  background: url('../img/product/smartmokei/arrow.svg') no-repeat;
  background-size: contain;
  background-position: center center;
  width: 17.5px;
  height: 20px;
}

@media (max-width: 575.98px) {
  .btn-use {
    height: 60px;
    position: relative;
  }

  .btn-use-align {
    height: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }

  .btn-submit {
    height: 53px;
  }

  .btn-white-big {
    height: 50px;
  }

  .btn-arrow {
    width: 13.12px;
    height: 15px;
  }
}

.text-btn-use {
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  color: black !important;
}

.text-btn-submit {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  color: black !important;
}

.btn-use:hover {
  text-decoration: none;
}

.text-btn-use:hover {
  text-decoration: none;
}

.btn-submit:hover {
  text-decoration: none;
}

.btn-white:hover {
  text-decoration: none;
}

.btn-white-big:hover {
  text-decoration: none;
}

@media (max-width: 575.98px) {
  .text-btn-use {
    font-size: 20px;
  }

  .text-btn-submit {
    font-size: 15px;
  }
}

.text-btn-white {
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  color: black !important;
}

@media (max-width: 575.98px) {
  .xs-bottom {
    margin-bottom: 30px;
    margin-top: auto !important;
  }
}

.xs-bottom {
  margin-top: 30px;
}

.xs-only {
  display: none;
}

@media (max-width: 575.98px) {
  .xs-only {
    display: block;
  }
}
