html {
  font-family: -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic,
    "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium",
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3,
    "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro",
    "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック",
    "MS PGothic", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Segoe UI",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  scroll-behavior: smooth;
}

.product-wrapper {
  overflow: hidden;
}

.alert-box {
  position: fixed;
  top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.alert-box>.alert {
  display: flex;
  align-items: center;
  height: 50px;
}

.alert>.close {
  top: 10px !important;
}

.file-info-wrapper {
  display: none;
}

.file-info-wrapper>div {
  display: inline-block;
  padding: 5px 1em !important;
  margin: 0.5em 0;
  font-size: 13px;
  border-radius: 50px;
  background-color: #f4f4f4;
}

.file-info-element {
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.clear-button {
  margin-left: 8px;
  transform: rotate(-45deg) translateX(-0.8px) translateY(-0.8px);
}

.error-message {
  color: red;
  font-size: 13px;
  line-height: 13px;
}

.close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 15px;
  top: 15px;
  background: url("../img/product/smartmokei/close.svg") no-repeat;
  background-size: cover;
}

button:focus {
  outline: 0;
}

.face {
  width: 300px;
  height: 300px;
  margin: auto;
}

.footer-title {
  display: block;
  width: 200px;
  height: 42px;
}

.footer-nav {
  margin-top: 2em;
  list-style: none;
  margin-left: 0;
}

.footer-nav li>a {
  color: #fff;
}

.footer-nav li>a:hover {
  text-decoration: none;
  color: #faea5b;
}

footer.product {
  display: flex;
  flex-direction: column;
  padding: 50px 10% 0;
  background: linear-gradient(0deg, #4a4a4a, #4a4a4a),
    url("../img/product/smartmokei/product_footer.png");
  background-blend-mode: multiply, normal;
  background-position: center center;
  background-size: cover;
}

.copyright {
  width: 100%;
  text-align: center;
}

@media (max-width: 575.98px) {
  footer.product {
    padding: 15px 6% 0;
  }
}

footer.product>* {
  padding: 1rem 0;
  position: relative;
  z-index: 1;
  color: #fff;
}

.upload-form {
  width: 100%;
  height: 100%;
  min-height: 140px;
  border: 1px dashed #939393;
  background: url("../img/product/smartmokei/upload-pc.svg") no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #f4f4f4;
}

.upload-form-input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

@media (max-width: 575.98px) {
  .upload-form {
    background: url("../img/product/smartmokei/upload-sp.svg") no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: #f4f4f4;
  }
}

.text-normal {
  font-weight: 400 !important;
}

.price {
  margin-bottom: 15px;
  white-space: nowrap;
}

.price-text p {
  color: #fff;
}

.arrow-fix {
  margin: auto;
  width: 42px;
}

.arrow-fix-black {
  margin: auto;
  width: 35px;
}

@media (max-width: 767px) {
  .price {
    text-align: center;
  }

  .price-text {
    text-align: center;
  }

  .price-text p {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    text-align: left;
  }
}

@media (max-width: 575.98px) {
  .arrow-fix {
    width: 35px;
  }
}

.expand {
  height: 40px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
}

.has-danger {
  border: 1px solid red;
}

.terms {
  height: 250px;
  border: 2px lightgray solid;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  overflow: auto;
}

.terms-text,
.regal {
  line-height: 1.75;
  font-size: 14px;
}

.terms-text p,
.regal p {
  margin-bottom: .5em;
}

.underline {
  text-decoration: underline;
}

.terms-text h4,
.terms-text h5 {
  font-size: 15px;
  margin-bottom: 1em;
  font-weight: bold;
}

.terms-text p+h5 {
  margin-top: 1.5em;
}

span.collapse:not(.show) {
  transition-duration: 0;
  display: block !important;
  transform: rotate(-45deg) translateX(-0.8px) translateY(-0.8px);
}

.plus .collapse .multi-collapse .show:after {
  transition-duration: 0 !important;
  transform: initial;
}

body.product {
  font-family: "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium",
    "Yu Gothic Medium", -apple-system, BlinkMacSystemFont, sans-serif;
}

.faq-row {
  width: 100%;
}

.faq-row .row {
  margin-right: 0;
  margin-left: 0;
}

.faq-row .row .col-1 {
  padding-right: 0;
  padding-left: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  height: 100%;
}

@media (max-width: 575.98px) {
  .card {
    height: 100%;
  }
}

.card-img {
  border-radius: 4px 4px 0 0;

  transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
}

.card-text {
  padding: 1.5em 2em;
  color: #555;
}

.card-text h3 {
  padding-bottom: 0.5em;
}

.bg-gray {
  background: #f0f5fa;
}

.bg-blue-box {
  background: #007ea7;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 10vw;
}

.bg-darkgray {
  background: #e8e8e8;
}

.height-icon {
  display: inline-block;
  max-height: 16px;
  color: #6a6a6a;
  text-align: center;
  margin: 0 auto;
}

.height-house {
  max-height: 130px;
}

.height-md {
  max-height: 250px;
}

.container-fuild.top {
  width: 100%;
  padding: 60px 0;
  margin: 0;
  position: relative;
}

.container-fuild.top::before {
  background: #f0f5fa;
  content: '';
  position: absolute;
  width: 100%;
  height: 460px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px 10vw;
}

.inner-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.inner-box p {
  line-height: 2.5;
}

.faq-box {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 0;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .faq-box {
    padding: 40px 0 0;
  }
}

.mini-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 10vw;
}

@media (max-width: 575.98px) {
  .mini-box {
    padding: 10px 0;
  }
}

.text-red {
  color: #a7007e;
}

.text-blue {
  color: #007ea7;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000 !important;
}

button.dummy-button {
  cursor: default !important;
}

hr {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 575.98px) {
  hr {
    width: 96%;
  }
}

hr.hr-bold {
  height: 3px;
  margin: 8px auto;
  background-color: #ffffff;
}

hr.hr-bold-blue {
  height: 3px;
  margin: 8px auto;
  background-color: #007ea7;
}

hr.hr-bold-black {
  height: 3px;
  margin: 8px auto;
  background-color: black;
}

.text-xs {
  font-size: 11px;
  line-height: 16px;
  color: #757575;
}

.text-sm {
  font-size: 15px;
  font-weight: normal;
  line-height: 175%;
}

.text-result {
  font-size: 18px;
  font-weight: bold;
  line-height: 150%;
}

.text-desc {
  font-size: 20px;
  line-height: 175%;
}

.text-md {
  font-size: 20px;
  line-height: 175%;
}

.text-lg {
  font-size: 23px;
  line-height: 175%;
}

.text-faq {
  font-size: 30px;
  font-weight: bold;
  line-height: 150%;
  color: #007ea7;
}

#thanksModal>div>div.modal-round {
  border-radius: 10px !important;
}

.text-bg {
  font-size: 35px;
  font-weight: bold;
  line-height: 150%;
}

.text-form {
  font-size: 14px;
  font-weight: bold;
  line-height: 175%;
}

.text-center {
  text-align: center;
}

h3 {
  font-size: 22px;
  line-height: 150%;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 150%;
  color: #007ea7;
}

h2.black {
  color: black;
}

.sm-only {
  display: none;
}

.text-sm-center {
  text-align: left;
}

@media (max-width: 575.98px) {
  .sm-only {
    display: block;
  }

  .md-only {
    display: none;
  }

  .box {
    padding: 30px 4px;
  }

  .inner-box {
    padding: 20px 8px;
  }

  .text-sm {
    font-size: 12px;
  }

  .text-md {
    font-size: 16px;
  }

  .text-lg {
    font-size: 18px;
  }

  .text-faq {
    font-size: 20px;
  }

  .text-bg {
    font-size: 30px;
  }

  h3 {
    font-size: 17px;
  }

  h2 {
    font-size: 25px;
  }
}

.head {
  display: flex;
  flex-direction: column;
  padding: 100px 10% 0;
  width: 100%;
  height: 500px;
  background: url("../img/product/smartmokei/head.png");
  background-size: cover;
  background-position: center center;
}

@media (max-width: 575.98px) {
  .head {
    padding: 50px 10% 0;
  }
}

.title {
  display: block;
  background: url("../img/product/smartmokei/title2x.png") no-repeat;
  max-width: 300.5px;
  height: 63px;
  width: 100%;
  background-size: 100%;
}

.description {
  margin: 2.5em 0;
  max-width: 503px;
}



.btn-use {
  overflow: hidden;
  display: flex;
  background: #faea5b;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  height: 70px;
  border: 3px solid #000;
  color: #000;
  transition: 0.2s;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 0;

}

.btn-use p,
.btn-use i {
  margin: auto .5em;
  align-items: center;
  font-size: 20px;

}

.btn-box {
  max-width: 350px;
  min-width: 300px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* margin-top: 30px; */
  cursor: pointer;
}

.btn-box a {
  color: #000;
}

.btn-box a:hover {
  background: #fff;
}


.btn-submit {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  max-width: 201.88px;
  min-width: 153.12px;
  height: 70px;

  background: #faea5b;
}

.btn-white {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;

  position: static;
  width: 276.12px;
  height: 53px;

  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.btn-white-big {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;

  position: static;
  max-width: 374.88px;
  min-width: 301.5px;
  height: 68px;

  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.btn-arrow-sub {
  background: url("../img/product/smartmokei/arrow2-black.svg") no-repeat;
  background-size: contain;
  background-position: center center;
  width: 13.12px;
  height: 15px;
  margin: 20px 0px;
}

.btn-arrow {
  background: url("../img/product/smartmokei/arrow.svg") no-repeat;
  background-size: contain;
  background-position: center center;
  width: 21.88px;
  height: 25px;
  margin: 15px 0px;
}

.btn-arrow-mini {
  background: url("../img/product/smartmokei/arrow.svg") no-repeat;
  background-size: contain;
  background-position: center center;
  width: 17.5px;
  height: 20px;
}

@media (max-width: 575.98px) {
  .btn-use {
    /* height: 60px;
    position: relative; */
  }

  .btn-use-align {
    /* height: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%); */
  }

  .btn-submit {
    height: 53px;
  }

  .btn-white-big {
    height: 50px;
  }

  .btn-arrow {
    width: 13.12px;
    height: 15px;
  }
}

.text-btn-submit {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  color: black !important;
}

.btn-use:hover {
  text-decoration: none;
}

.text-btn-use:hover {
  text-decoration: none;
}

.btn-submit:hover {
  text-decoration: none;
}

.btn-white:hover {
  text-decoration: none;
}

.btn-white-big:hover {
  text-decoration: none;
}

@media (max-width: 575.98px) {
  .text-btn-use {
    /* font-size: 20px; */
  }

  .text-btn-submit {
    font-size: 15px;
  }
}

.text-btn-white {
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  color: black !important;
}

@media (max-width: 575.98px) {
  .xs-bottom {
    margin-bottom: 30px;
    margin-top: auto !important;
  }
}

.xs-bottom {
  margin-top: 30px;
}

.xs-only {
  display: none;
}

@media (max-width: 857px) {
  .xs-only {
    display: block;
  }
}

img {
  display: block;
  width: 100%;
  overflow: hidden;
}

.logo {
  float: left;
  font-size: 35px;
  font-family: "ABeeZee";
  font-weight: bold;
}

.navbar {
  padding: 0 0.5em;
}

nav {
  font-family: "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium",
    "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3",
    HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka,
    "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", HelveticaNeue, Helvetica,
    Arial, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.step {
  box-sizing: content-box;
  max-width: 700px !important;
  margin: 0 auto;
  margin-bottom: 15px;
}

.h-block {
  display: inline-block;
}

.sub-head {
  font-size: 13px;
  line-height: 3em;
  font-family: sans-serif;
}


.text-10 {
  font-size: 12px !important;

}

.house {
  width: 150px;
  text-align: center;
  margin: 2.5rem auto;
}

.regal {
  margin: 0 auto;
  line-height: 2;
}

.regal h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 150%;
  color: #007ea7;
  margin: 1.5em 0 3em 0;
}

.regal h2 {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
  color: #000;
  margin: 1.5em 0;
}

.regal .table {
  margin: 3em 0;
}

.regal .table>div+div,
.regal .table>div:first-child {
  margin: .8em 0;
}

.regal .table .col-sm-3 {
  font-weight: bold;
}
