<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>{{page.title}} - {{site.name}}</title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/filipelinhares/ress/master/dist/ress.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap-grid.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/default.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script>
    (function($) {
      $(function() {
        var $header = $('#top-head');

        // Nav Fixed
        $(window).scroll(function() {
          if ($(window).scrollTop() > 300) {
            $header.addClass('fixed');
          } else {
            $header.removeClass('fixed');
          }
        });

        // Nav Toggle Button
        $('#nav-toggle').click(function() {
          $header.toggleClass('open');
        });

      });
    })(jQuery);
  </script>
</head>

<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v4.0"></script>

  <header id="top-head" class="container-fluid">
    <div class="inner">
      <div id="mobile-head">
        <h1 class="logo">ZUMEN</h1>
        <div id="nav-toggle">
          <div>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <nav id="global-nav">
        <ul>
          <li><a href="#">POSTS</a></li>
          <li><a href="#">PRODUCT</a></li>
          <li><a href="#">COMPANY</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="main-visual" class="container-fluid">
    <!-- <div class="row">
      <p class="col-lg col-xl"></p>
      <p id="top-head__text" class="col-sm-12 col-lg-11 col-xl-10"><span class="bd">建築</span>×<span class="bd">IT</span>な具合に、<br>いい感じの<span class="bg">コピー</span>を<br>書いてもらう。</p>
    </div> -->
  </div>

  <div class="container-fluid">


    <div class="row">

      <!-- 左カラム -->
      <div class="col d-none d-md-block col-md-3 subcol-left">

        <!-- 左カラム中身 -->
        <div class="row mt-15">

          <!-- カードC 画像-タイトル -->
          <div class="pickup article-card col-12">
            <img src="/assets/img/sample2.jpg" alt="">
            <p class="article-card__title">
              このへんの領域はどういう記事を扱いたいのだろう？
            </p>
          </div>

          <!-- カードC 画像-タイトル -->
          <div class="pickup article-card col-12">
            <img src="/assets/img/sample.jpg" alt="">
            <p class="article-card__title">
              とりあえずハフポの再現に努めているけれど、大丈夫だろうか？
            </p>
          </div>

          <!-- カードC 画像-タイトル -->
          <div class="pickup article-card col-12">
            <img src="/assets/img/sample5.jpg" alt="">
            <p class="article-card__title">
              おまかせであれば、時期的に推したい記事をピックアップするとよさそうだとおもうな。
            </p>
          </div>


        </div>


      </div>

      <!-- メインカラム -->
      <div class="col-12 col-sm-7 col-md-5 maincol">

        <!-- メインカラム中身 -->
        <div class="row">

          <!-- カードA 画像-タイトル-導入分 -->
          <div class="pickup article-card col-12">
            <p class="article-card__tags">
              <span>AI</span>
              <span>loT</span>
            </p>
            <img src="/assets/img/sample4.jpg" alt="">
            <p class="article-card__title">
              メロスは激怒した。必ず、かの邪智暴虐の王を除かなければならぬと決意した。
            </p>
            <p class="article-card__info">
              メロスには政治がわからぬ。メロスは、村の牧人である。笛を吹き、羊と遊んで暮して来た。けれども邪悪に対しては、人一倍に敏感であった。
            </p>
          </div>

          <!-- カードB タイトル/画像 -->
          <div class="article-card col-12">
            <div class="row">
              <div class="col order-2">
                <img src="/assets/img/sample.jpg" alt="">
              </div>
              <div class="col order-1">
                <p class="article-card__tags">
                  <span>建築</span><span>BIM</span><span>VR</span>
                </p>
                <p class="article-card__title">
                  ピックアップタイプじゃないノーマルなarticleカードだよ。記事タイトル名だよ。
                </p>
              </div>
            </div>
          </div>

          <!-- カードB タイトル/画像 -->
          <div class="article-card col-12">
            <div class="row">
              <div class="col order-2">
                <img src="/assets/img/sample2.jpg" alt="">
              </div>
              <div class="col order-1">
                <p class="article-card__tags">
                  <span>loT</span>
                </p>
                <p class="article-card__title">
                  ピックアップタイプじゃないノーマルなarticleカードだよ。記事タイトル名だよ。
                </p>
              </div>
            </div>
          </div>

          <!-- カードA 画像-タイトル-導入分 -->
          <div class="pickup article-card col-12">
            <p class="article-card__tags">
              <span>AI</span>
            </p>
            <img src="/assets/img/sample5.jpg" alt="">
            <p class="article-card__title">
              画像認識を使った実験と結果から見えてくる課題
            </p>
            <p class="article-card__info">
              メロスには機械学習がわからぬ。メロスは、エンジニアである。コードを書き、MBPと遊んで暮して来た。けれども最新技術に対しては、人一倍に敏感であった。
            </p>
          </div>

          <!-- カードB タイトル/画像 -->
          <div class="article-card col-12">
            <div class="row">
              <div class="col order-2">
                <img src="/assets/img/sample4.jpg" alt="">
              </div>
              <div class="col order-1">
                <p class="article-card__tags">
                  <span>loT</span>
                </p>
                <p class="article-card__title">
                  ピックアップタイプじゃないノーマルなarticleカードだよ。記事タイトル名だよ。
                </p>
              </div>
            </div>
          </div>

        </div>
        <!-- //メインカラム中身 -->

      </div>
      <!-- //メインカラム 終了-->

      <!-- 右カラム -->
      <div class="col-4 col-sm-5 col-md-4 d-none d-sm-block subcol-right">
        <!-- 右カラム中身 -->
        <div class="row mt-15">

          <!-- カードC 画像-タイトル -->
          <div class="pickup article-card col-12 border-none">
            <img src="/assets/img/sample6.png" alt="">
            <p class="article-card__title">
              その進捗で大丈夫？
            </p>
          </div>

          <div class="col-12">
            <h3>注目記事</h3>
          </div>

          <!-- カードD 画像/タイトル -->
          <div class="article-card col-12">
            <div class="row no-gutters">
              <div class="col rank-img__thump">
                <img src="/assets/img/sample2.jpg" alt="">
              </div>
              <div class="col-7">
                <p class="article-card__title">
                  ピックアップタイプじゃないノーマルなarticleカードだよ。
                </p>
              </div>
            </div>
          </div>

          <!-- カードD 画像/タイトル -->
          <div class="article-card col-12">
            <div class="row no-gutters">
              <div class="col rank-img__thump">
                <img src="/assets/img/sample3.jpg" alt="">
              </div>
              <div class="col-7">
                <p class="article-card__title">
                  ピックアップタイプじゃないノーマルなarticleカードだよ。
                </p>
              </div>
            </div>
          </div>

          <!-- カードD 画像/タイトル -->
          <div class="article-card col-12 border-none">
            <div class="row no-gutters">
              <div class="col rank-img__thump">
                <img src="/assets/img/sample4.jpg" alt="">
              </div>
              <div class="col-7">
                <p class="article-card__title">
                  ピックアップタイプじゃないノーマルなarticleカードだよ。
                </p>
              </div>
            </div>
          </div>

          <div class="w-100"></div>

          <div class="col-12">
            <div class="fb-page" data-href="https://www.facebook.com/5thfloorinc/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
              <blockquote cite="https://www.facebook.com/5thfloorinc/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/5thfloorinc/">フィフス・フロア株式会社</a></blockquote>
            </div>
          </div>


        </div>

      </div>
    </div>

    <!-- {{ include grid-test.html %}} -->





  </div>

  {% include footer.html %}

</body>

</html>
