---
layout: sub
---

<div class="row no-gutters blog-box">
  <div class="col-12">
    <div class="blog-header">
      <div class="cate-tag-date">
        <span class="blog-header__categories">
          <a href="{{ site.url }}/test.html">{{ page.categories }}</a>
        </span>
        <span class="blog-header__postdate">
          {{ page.date | date: "%Y年%-m月%-d日" }}
        </span>
      </div>
      <h1>{{ page.title }}</h1>
    </div>

    <div class="row">
      <div class="col-12 col-sm-8 col-md-8 blog-box__mainContent">
        <div class="article">
          {{ page.content }}
          <div class="tags">
            {% for tags in page.tags %}
            <a href="{{ site.url }}/blog/{{ tags[0] }}.html">
              <i class="fas fa-hashtag"></i> {{ tags }}
            </a>
            {% endfor %}
          </div>
          <div class="author-share">
            <div class="bio col-12">
              {% if page.author == 'hamaguchi' %}
              <img
                src="{{ site.url }}/{{ site.authors.hamaguchi.icon }}"
                class="author-icon"
              />
              {% elsif page.author == 'hutakami' %}
              <img
                src="{{ site.url }}/{{ site.authors.hutakami.icon }}"
                class="author-icon"
              />
              {% endif %}
            </div>

            <div class="bio col-12">
              {% if page.author == 'hamaguchi' %}
              <p>{{ site.authors.hamaguchi.display_name }}</p>
              <p>{{ site.authors.hamaguchi.bio }}</p>
              {% elsif page.author == 'hutakami' %}
              <p>{{ site.authors.hutakami.display_name }}</p>
              <p>{{ site.authors.hutakami.bio }}</p>
              {% endif %}
            </div>
          </div>
        </div>

        {% include similar_posts.html %}{% include authors_posts.html %}
      </div>
      {% include right-column_post.html %}
    </div>
  </div>
</div>
