<!DOCTYPE html>
<html lang="ja">
{% include product_head.html %}
  <link
    rel="stylesheet"
    href="{{ '/assets/css/product.css' | relative_url }}"
  />
</head>
<body class="product">
  <nav class="navbar navbar-expand-lg">
    <a class="text-md ml-3 text-black" href="/">ZUMEN</a>
    <button class="burger mr-2 pr-1 ml-auto"></button>
  </nav>
  <div class="product-wrapper">
    <div class="container-fluid production">
      <div class="row">
        {{content}}
      </div>
    </div>
    {% include product_footer.html %}
  </div>
</body>

</html>
