<!DOCTYPE html>
<html lang="ja">
{% include product_head.html %}
<link rel="stylesheet" href="{{ '/assets/css/product.css' | relative_url }}" />
</head>
<body class="product">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" href="/smartmokei.html">ZUMEN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="smartmokei.html#smart-form">スマート模型を注文</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="smartmokei.html#pricing">利用料金</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="smartmokei.html#faq">よくあるご質問</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/smartfix.html">修正依頼</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="product-wrapper">
    <div class="container-fluid production">
      <div class="row">
        {{content}}
      </div>
    </div>
    {% include product_footer.html %}
  </div>
</body>

</html>
