<!DOCTYPE html>
<html lang="ja">
{% include head.html %}
{% include header_sub.html %}

<nav class="nav-horizontal">
  <div class="mask">
    <ul class="list">
      <li><a href="#">aiue</a></li>
      <li><a href="#">Bravo</a></li>
      <li><a href="#">Charlie</a></li>
      <li><a href="#">Delta</a></li>
      <li><a href="#">Echo</a></li>
      <li><a href="#">かきくけ</a></li>

    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      {{content}}
    </div>
  </div>
</div>
{% include footer.html %}
</body>

</html>
